{% extends 'base.html' %}

{% block title %} about {% endblock title %}

{% block content %}
      <div class="about-content">
            <div class="about-container">
                 <p class="text">
                    CIVE expert forum provide the better knownledge for students,where by students ask different questions about specific topic then experts provide answers corresponding to the questions asked from their students,You are welcome.
                 </p>
                 <p class="text">
                    CIVE expert forum provide the better knownledge for students,where by students ask different questions about specific topic then experts provide answers corresponding to the questions asked from their students,You are welcome.
                </p>
                <p class="text">
                    CIVE expert forum provide the better knownledge for students,where by students ask different questions about specific topic then experts provide answers corresponding to the questions asked from their students,You are welcome.
                </p>
                <p class="text">
                    CIVE expert forum provide the better knownledge for students,where by students ask different questions about specific topic then experts provide answers corresponding to the questions asked from their students,You are welcome.
                </p>
                <p class="text">
                   CIVE expert forum provide the better knownledge for students,where by students ask different questions about specific topic then experts provide answers corresponding to the questions asked from their students,You are welcome.
                </p>
                <p class="text">
                    CIVE expert forum provide the better knownledge for students,where by students ask different questions about specific topic then experts provide answers corresponding to the questions asked from their students,You are welcome.
                </p>
                 <p class="text">
                    CIVE expert forum provide the better knownledge for students,where by students ask different questions about specific topic then experts provide answers corresponding to the questions asked from their students,You are welcome.different questions about specific topic then experts provide answers corresponding to the questions asked from their students,You are welcome.
                </p>
               

            </div> 
      </div>
{% endblock %}