{% extends 'expertBase.html' %}

{% load static %}

{% block title %} cplusplus experts {% endblock title %}

{% block content %}
<style>
      .cplusplusfloating-btn{
       text-decoration: none;
       color: #ffff;
       border-radius: 50%;
       box-shadow: 2px 2px 5px black;
       padding: 10px;
       background-color: rgb(10, 132, 247);
       right: 20px;
       bottom: 20px;
       transition: all 0.8s ease-in-out 0.2s;
       position: fixed;
       cursor: pointer;
   }
   .cplusplusfloating-btn:hover{
         background-color: rgb(92, 3, 52);
         color: #ffff;
   
   }
 </style> 
     <div class="cplusplusImageBg"></div>
     <div class="container">
      <a href="{% url 'askcplusplus' %}" class="cplusplusfloating-btn" >ask us</a>
         <div class="cplusplus-content">
               <div class="left-cplusplus-content">
                      <div class="left-top-cplusplus-content">
                            <span><img  class="image-circle" width="50" height="50" src="/static/stylesheet/img/udomimage.jpg"/> Raul expert</span>
                      </div>
                      <div class="left-middle-cplusplus-content">
                            <p>I am cplusplus developer with 5 years of experience, with alot
                                 of my projects that done using php programming language.
                            </p>
                      </div>
                      <div class="left-bottom-cplusplus-content">
                        <button class="btn btn-primary">visit me</button>
                      </div>
               </div>

               <div class="right-cplusplus-content">
                <div class="right-top-cplusplus-content">
                    <span><img class="image-circle" width="50" height="50" src="/static/stylesheet/img/udomlogo.png"/> kaham expert</span>
              </div>
              <div class="right-middle-cplusplus-content">
                    <p>I am cplusplus developer with 5 years of experience, with alot
                         of my projects that done using php programming language.
                    </p>
              </div>
              <div class="right-bottom-cplusplus-content">
                <button class="btn btn-primary">visit me</button>
              </div>  
               </div>
         </div>

         <div class="cplusplus-content">
            <div class="left-cplusplus-content">
                   <div class="left-top-cplusplus-content">
                         <span><img class="image-circle" width="50" height="50" src="/static/stylesheet/img/reactnative.jpg"/> Zaher expert</span>
                   </div>
                   <div class="left-middle-cplusplus-content">
                         <p>I am cplusplus developer with 5 years of experience, with alot
                              of my projects that done using php programming language.
                         </p>
                   </div>
                   <div class="left-bottom-cplusplus-content">
                     <button class="btn btn-primary">visit me</button>
                   </div>
            </div>

            <div class="right-cplusplus-content">
             <div class="right-top-cplusplus-content">
                 <span><img class="image-circle" width="50" height="50" src="/static/stylesheet/img/experrtlogin.jpeg"/> Mena expert</span>
           </div>
           <div class="right-middle-cplusplus-content">
                 <p>I am javascript developer with 5 years of experience, with alot
                      of my projects that done using php programming language.
                 </p>
           </div>
           <div class="right-bottom-cplusplus-content">
             <button class="btn btn-primary">visit me</button>
           </div>  
            </div>
         </div>

         <div class="cplusplus-content">
            <div class="left-cplusplus-content">
                   <div class="left-top-cplusplus-content">
                         <span><img class="image-circle" width="50" height="50" src="/static/stylesheet/img/php.jpg"/> Kabut expert</span>
                   </div>
                   <div class="left-middle-cplusplus-content">
                         <p>I am cplusplus developer with 5 years of experience, with alot
                              of my projects that done using php programming language.
                         </p>
                   </div>
                   <div class="left-bottom-cplusplus-content">
                     <button class="btn btn-primary">visit me</button>
                   </div>
            </div>

            <div class="right-cplusplus-content">
             <div class="right-top-cplusplus-content">
                 <span><img class="image-circle" width="50" height="50" src="/static/stylesheet/img/civeadminblock.PNG"/> Cive expert</span>
           </div>
           <div class="right-middle-cplusplus-content">
                 <p>I am cplusplus developer with 5 years of experience, with alot
                      of my projects that done using php programming language.
                 </p>
           </div>
           <div class="right-bottom-cplusplus-content">
             <button class="btn btn-primary">visit me</button>
           </div>  
            </div>
         </div>

     </div>
{% endblock %}