<div class="sidebar">
    <ul class="sidebar-items" >
         <span><li class="bg-side" style="list-style-type: none; padding:5px; margin: 5px; width: 100%;"><img src="/static/custom img/pngtree_web.png" width="40" height="30"><a style="text-decoration: none;color: white;" href="{% url 'web' %}">&ensp;Web</a></li></span>
         <span><li class="bg-side" style="list-style-type: none; padding:5px; margin: 5px;width: 100%;"><img src="/static/custom img/pngtree_mobile.png" width="40" height="30"><a style="text-decoration: none;color: white;" href="{% url 'mobile' %}">&ensp;Mobile</a></li></span>
        <span><li class="bg-side" style="list-style-type: none; padding:5px; margin: 5px;width: 100%;"><img src="/static/custom img/pngtree_desktop.png" width="40" height="30"><a style="text-decoration: none;color: white;" href="{% url 'desktop' %}">&ensp;Desktop</a></li></span>
     </ul>
  </div>