{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reactnative questions</title>
    <link rel="stylesheet" href="{% static './bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static './stylesheet/css/mystyle.css '%}"/>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-primary">Welcome to React Native Questions.</h1>
        <p class="mt-3">You are required to survey the followings questions inorder to signup as experts.</p>
        
        <div class="reactnativecanter">
             <div class="reactnativecanter-left">
                <h3 class="text-primary">Select correct answer from questions below.</h3>  
             </div>
             <div class="reactnativecanter-right">
                  
             </div>
        </div>

        
    </div>
</body>
</html>