<h2>Web Application Development</h2>
            <br>
             <div class="right-parent">
                  <div class="right-child1"></div>
                  <div class="right-child2"></div>
                  <div class="right-child3"></div>
             </div>

             <h2>Desktop Application Development</h2>
             <br>
             <div class="right-parent">
                <div class="right-child4"></div>
                <div class="right-child5"></div>
                <div class="right-child6"></div>
             </div>
             <h2>Mobile Application Development</h2>
             <br>
                <div class="right-parent">
                    <div class="right-child7"></div>
                    <div class="right-child8"></div>
                    <div class="right-child9"></div>
               </div>